.header_Style_gmail_name{
    color:black;
    background:white;
    margin: 10px;
}
.flex_custom_style{
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}
.flex_gmail_image_container{
    display: flex;
    flex-direction: row;
}

.logo{
    margin-right: 10px;
    padding: 5px;
    width: 50px;
    height: 50px;
}
.for_work_button{
    color: rgb(70, 70, 230);
    background: white;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    border-width: 1px;
    border-color: white;
    font-weight: 600;
}
.signin_createAccount{
    color: white;
    background: blue;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    border-width: 1px;
    border-color: white;
    font-weight: 600;
    
}
.bottomcontentcenter{
    justify-content: center;
    align-items: center;
    margin: 40px;
}
.bottomCardContainer{
    display: flex;
    margin: 20px;
    flex-direction: row;
}
.heading_text{
    font-size: 60px;
    padding: 10px;
}
.paragraph{
    color:rgb(42, 42, 42);
    padding: 10px;
    font-size: 20px;
}
.logo2{
    height: 80vh;
    width: 75vb;
    margin: 10px;
}





























.mainHeaderContainer{
    display: flex;
    justify-content: space-between;
    padding: auto;
}
.headerLogoAbhibus{
    height: 30px;
    width: 110px;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;

}
.headerLogo{
    height: 35px;
    width: 32px;
    margin-right:2px;
    padding: 2px;

}
.ButtonsStyling{
    font-size: 16px;
    color: black;
    font-weight: 500;
    background-color:white;
    border-radius: 5px;
    border-color:transparent;
    border-width: px;
    margin: 6px;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.ButtonsStyling:hover {
    background-color: #e3e7e9;
}
.mainBusBackground{
    background-image: url("../src/assets/images/BusMainBackground.webp");
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}





























